version: 2

node_6: &node_6
  docker:
    - image: node:6@sha256:e133e66ec3bfc98da0440e552f452e5cdf6413319d27a2db3b01ac4b319759b3

node_8: &node_8
  docker:
    - image: node:8@sha256:d16c9fcf0b4f219aad05d74ffeeed7a56874c2737b19c06887771634204224c4

package_manager: &package_manager
  steps:
    - checkout
    - run: |
        echo "Required until 'npm' 5.2 is the oldest version used by a Node container."
        currentDirectory=$(pwd)
        mkdir -p /tmp/npm-install-directory
        cd /tmp/npm-install-directory
        npm install npm@latest --no-save
        rm -rf /usr/local/lib/node_modules
        mv node_modules /usr/local/lib/
        cd $currentDirectory
    - run: |
        echo "Required because Circle CI changes directory permissions to 777, and 'npm' won't install in that environment."
        npm install --unsafe-perm
    - save_cache:
        paths:
          - node_modules
          - ${HOME}/.npm
        key: dependencies
    - run: npm test && ($(npm bin)/codecov || echo "Codecov did not collect coverage reports")

jobs:
  node_6_job:
    <<: [*node_6, *package_manager]
  node_8_job:
    <<: [*node_8, *package_manager]

workflows:
  version: 2
  build:
    jobs:
      - node_6_job
      - node_8_job
