sudo: false
language: node_js
node_js:
  - '5'
  - '4'
  - '3'
  - '2'
  - '1'
  - '0.12'
  - '0.10'
before_script:
  - git config --global user.name 'Travis-CI'
  - git config --global user.email 'dummy@example.org'
after_script: NODE_ENV=test istanbul cover ./node_modules/mocha/bin/_mocha -- -R spec --timeout 50000 && cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js && rm -rf ./coverage
env:
  global:
    - secure: QCYfoj5UTTSFuKP1FqxG72ROGm97pPiFbSS2uYofu1dh3DtXn8sbSxAH9IdZWiHONbu+sNT0DWVyVx2tsBbHZewE61tu774Jmo6IeqC3z/B2Fn4NtbZmz9AmB02QRlOjk+CxFJqq1vJTcQtTZ0taBbm9V5C+MrxcSAl0FuotYNc/Hi+29BJMLU+/OPnB1se9ezaCvz9NLb9v/V3owIONkOo79zTTtm7fGbGisi7FJ5VmV/iBhgRI+PNC49Xrnr2j0A44RKVdtJ69G2GSi0Zam7QywwVUZLkt3pnJPta2Li6ycS8aPYsYOR6xFJwY2cqCmEmZGX3Z2J8PjUkJruSi7tkiqgFUKKBW2LTtKNVkoOAMdxt8JQchy6S3JFsVc1rW7Qvs3N1gBNW/DzZWBbL8/E/z0paEF1Gjwk3T5tXuq5CV+SsyJ1jPdShPWjlewOMZicr/pATflKtg5aQOSsclZ2wPIyZGHoeBs0v/gm9yVId6zQTJBk+ZPdNrjW7hH4GVOmyCL7WUBlazSgP0tWKdo9B5behh+9HCT82MLrD6xedHorBbKbcewDSzyLan8nWPquLFWPclqjLRU3jKM6m/eNDt0SEFv+jiwgUF8J5fPnuTpt6GWdwAv5cOxVSKlA6ANCsk064XiQTEW6WGdczj+J3w2Y4HZxGbmhFZKs+YZZs=
